.adbodyhome{
    margin-top: 3%;
}

.adbodyhome img{
 width: 100%;

}
.adbodyhome img:hover{
    width: 100%;
    transform: scale(1.05);
   }

   .adbodyhome a:focus{
    width: 100%;
    transform: scale(1.05);
   }