
  .slider {
    margin:0 20px;
    overflow:"hidden";
    padding:2rem 0;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .slider img {
    width: 150px;
    height: 100px;
    pointer-events: none;
    border-radius:10px;
  }
  
  .react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
  }
  
  .custom-dot-list-style button{
  border: none;
  background: rgb(255, 68, 68);
  display: none !important;
  }
  .react-multi-carousel-dot.react-multi-carousel-dot--active button{
    display: none !important;
  background: rgb(255, 68, 68) !important;
  }