.Categoryhome img{
 border-radius: 10px;
 border: 2px solid rgba(0, 0, 0, 0.253) ;
 height: 85%;
}



.textgray a{
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.textgray a:hover{
    color: rgba(255, 0, 0, 0.5);
}

.blacktext a{
    font-size: 14px;
}

.blacktext a:hover{
    color: rgb(255, 0, 0);
}