.carouselnext{
   
    background-color: rgba(35, 35, 134, 0.993);
    border-radius: 50%;
    padding: 10px;
}
.carousel-item img{
    opacity: 5;
}
.carousel-item h5{
    color: rgb(255, 253, 253);
    font-size: 25px;
    font-weight: bold;
    transform: translateX(-200%);
    animation: slide-in-anim 1s ease-out forwards;
   
}

@keyframes slide-in-anim {
	20% {
		opacity: 0;
	}
	60% {
		transform: translateX(-75%);
	}
	75% {
		transform: translateX(-50%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}













.carousel-item p{
    font-size: 14px;
    transform: translateX(-200%);
    animation: slide-in-anim2 1s ease-out forwards;
}


@keyframes slide-in-anim2 {
	20% {
		opacity: 0;
	}
	60% {
		transform: translateX(75%);
	}
	75% {
		transform: translateX(50%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}
.carousel-caption{
 background-color: rgba(3, 3, 3, 0.377);
}



  .custom-btn {
    color: #fff;
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    
  }
  
  

  .btn-7 {
    color: #ffffff;
    line-height: 40px;
    padding: 0;
    border: none;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px ;

  }
  .btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-7:before,
  .btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #fc0202;
    box-shadow: 0 0 5px #faea11;
    transition: all 0.3s ease;
  }
  .btn-7:before{
     height: 50%;
     width: 2px;
  }
  .btn-7:after {
    width: 20%;
    height: 2px;
  }
  .btn-7:hover:before {
    height: 100%;
  }
  .btn-7:hover:after {
    width: 100%;
  }
  .btn-7 span:before,
  .btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #f80000;
    box-shadow: 0 0 5px #fff021;
    transition: all 0.3s ease;
  }
  .btn-7 span:before {
    width: 2px;
    height: 50%;
  }
  .btn-7 span:after {
    height: 2px;
    width: 20%;
  }
  .btn-7 span:hover:before {
    height: 100%;
  }
  .btn-7 span:hover:after {
    width: 100%;
  }
  
  