.navbar2body{
  background-color: rgb(8, 68, 129);
  height: 35px;
  position: sticky;
  top: 69px;
  z-index: 1111;
 
}

.navbar2body a{
 color: white;
 font-size: 14px;

}


.navbar2body a:hover{
    color: red;
    
   }

.categorybtn{
    color: white;
    border: none;
    background-color: Transparent;
    font-size: 14px;
}
@media screen and (max-width: 550px) {
  .navbar2body a{
    font-size: 12px;
  }
  .categorybtn{
    font-size: 12px;
  }
}

.dropdown-item{
    color: #ffffff !important;
    background-color: transparent !important;
}
.dropdown-item:hover{
    color: #ff0000 !important;
    
}

.dropdown-menucustom{
    padding-top: 5px !important;
    background-color: rgb(8, 68, 129);
    border: none;
    
    
}

.categorybtn:hover{
color: red;
}

.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover{
    color: #808080;
}
@media only screen and (min-width: 960px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
  .dropdown .dropdown-menu {
    display: none;
  }
  .dropdown:hover .dropdown-toggle::after {
    border-bottom: 0.3em solid;
    border-top: 0;
  }
}
@media screen and (max-width: 991px) {
  .dropdown-toggle.show::after {
    border-top: 0;
    border-bottom: 0.3em solid;
  }
}





  .dropdown2{
    display: none;
   }  

  .dropdown2 li{
   padding-left: 15px;
  }  

  @media screen and (max-width: 985px) {
    
    .smallhide{
        display:none;
    }

    .dropdown2{
        display: inline-block;
       } 
       

  }

 