.newsletterbc{
    background: rgb(53,46,162);
    background: linear-gradient(90deg, rgba(53,46,162,1) 0%, rgba(32,46,126,1) 39%, rgba(16,127,189,1) 67%, rgba(98,0,255,1) 100%);
    height: 6rem;
}
.newsletterbc {
    color: white;
}

.subscriber-button input{
border: none;
width: 500px;
height: 40px;
padding-left: 20px;
}
.subscriber-button button{
    border: none;
    border-radius: 0px 10px 10px 0px;
    padding-right: 10px;
  
    }

    .subscriber-button button:hover{
        background-color: blue;
        color: white;
      
        }
        .subscriber-button button:focus{
           background-color:blue;
           color: white;
          
            }
@media (max-width: 1200px){
    .news1 {
        display: none !important;
    }
    .subscriber-button{
        width: 100% !important;
        border: 1px solid red;
    }
    .subscriber-button input{
        border: none;
        width: 100% !important;
        height: 40px;
        padding-left: 20px;
        }
        .subscriber-button input{
      
            border-radius: 10px 0px 0px 10px;
          
          
            }
}