.policymainbody{
   
}

.policymainbody h6{
    text-align: center;
  
}
.policymainbody p{
    font-size: 14px;
    text-align: center;
  
}

@media only screen and (max-width: 550px) {
    .policymainbody p{
      display: none;
    }
  }

.policymainbody img{
    height: 20%;
    width: 20%;
}