.countdown-timer{
    font-family: 'Work Sans', sans-serif;
    
    width: fit-content;
    font-size: 16px;
    color: white;
    border-radius: 20px;
    padding: 2px 10px 1px 10px; 
    font-weight: bold;
    background-color: rgb(0, 25, 250);
}


